body {
    width: 500px;
    height: auto;
    padding: 0px 10px 10px;
}

section > header {
    text-align: left;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

section > header > h1 {
    width: 50%;
    float: left;
}

div#tools {
    top: 30px;
}

.hideNow {
    display: none;
}